@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<BlazorPlayGround.Components.MyFirstComponents />
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter OnMultipleOfThree=@UpdateLastMultipleOfThreeValue
         OnMultipleOfTwoAction=@UpdateLastMultipleOfTwoValue />

The last multiple of three = @LastMultipleOfThree;
The last mutiple of two = @LastMultipleOfTwo;
@code
{
    int LastMultipleOfTwo = 0;
    int LastMultipleOfThree = 0;

    private void UpdateLastMultipleOfThreeValue(int value)
    {
        LastMultipleOfThree = value;
    }
    private void UpdateLastMultipleOfTwoValue(int value)
    {
        LastMultipleOfTwo = value;
    }
}