@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<BlazorPlayGround.Components.MyFirstComponents />
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<label>Name=@Name</label>
<input @bind-value=Name @bind-value:event="oninput" />

<label>Date of birth =@DateOfBirth?.ToString("MMMM d, yyyy")</label>
<input @bind-value=DateOfBirth @bind-value:format="yyyy-MM-dd" />

<label>Bank balance = @BankBalance</label>
<input @bind-value=BankBalance @bind-value:culture=Turkish />

<Counter OnMultipleOfThree=@UpdateLastMultipleOfThreeValue
         OnMultipleOfTwoAction=@UpdateLastMultipleOfTwoValue />

The last multiple of three = @LastMultipleOfThree;
The last mutiple of two = @LastMultipleOfTwo;
@code
{
    int LastMultipleOfTwo = 0;
    int LastMultipleOfThree = 0;

    private void UpdateLastMultipleOfThreeValue(int value)
    {
        LastMultipleOfThree = value;
    }
    private void UpdateLastMultipleOfTwoValue(int value)
    {
        LastMultipleOfTwo = value;
    }

    private string Name;
    private DateTime? DateOfBirth;
    private decimal? BankBalance;
    private System.Globalization.CultureInfo Turkish = System.Globalization.CultureInfo.GetCultureInfo("tr-TR");
}